<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-c13a0896-c669-40cb-bef5-5fb70d951d79;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-c13a0896-c669-40cb-bef5-5fb70d951d79.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook;Intergrated Security=true" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>